@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');


body{
  height: 100%;
  background: linear-gradient(90deg, #ffffff 45%, #f4f6fa 0);
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (max-width: 768px) {
  body {background: #ffffff;}

}

@media screen and (max-width: 768px){
  #image{
    display: none;
  }
  #text1{
    display: none;
  }
}


.col-sm-3{

  padding-left: 8%;
  padding-top: 6%;
  font-size: 28px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;

}

div#name{
  padding-left: 8%;
  padding-top: 3%;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  font-stretch: normal;
}

input[type="text"]{

  width: 360px;
  height: 50px;
  margin-left: 8%;
  margin-top: 0.5%;
  background-color: #f4f6fa;
  border-radius: 3px;
  border-color: #f4f6fa;
  border-top: #f4f6fa;
  border-left: #f4f6fa;
}


div#email{
  padding-left: 8%;
  padding-top: 2%;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  font-stretch: normal;
}

input[type="email"]{

  width: 360px;
  height: 50px;
  margin-left: 8%;
  margin-top: 0.5%;
  background-color: #f4f6fa;
  border-radius: 3px;
  border-color: #f4f6fa;
  border-top: #f4f6fa;
  border-left: #f4f6fa;
}

div#password{

  padding-left: 8%;
  padding-top: 2%;

  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

img#image{
  float: right;
  margin-right: 10%;
}

input[type="password"]{

  width: 360px;
  height: 50px;
  margin-left: 8%;
  margin-top: 0.5%;
  background-color: #f4f6fa;
  border-radius: 3px;
  border-color: #f4f6fa;
  border-top: #f4f6fa;
  border-left: #f4f6fa;
}

div#sixtext{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  margin-left: 8%;
  color: #7c8390;

}
button[type="button"]{
  position: relative;
  margin-left: 8%;
  margin-top: 2%;
  width: 361px;
  height: 50px;
  background-color: #699eff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color : #ffffff;
  border-radius: 3px;
  border-color: #f4f6fa;
  border-top: #f4f6fa;
  border-left: #f4f6fa;
}

div#loginA{

}

div#loginA span{
  position:absolute;top:50%;left:50%;transform: translate(-50%, -50%)
}

div#passwordA{


  padding-left: 15%;
  padding-top: 2%;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 500;
  color: #7c8390;

}

div#facebook{
  position: relative;
  margin-left: 8%;
  margin-top: 2%;
  width: 360px;
  height: 50px;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #d4d9e1;
}

div#facebook span{
  position:absolute;top:50%;left:50%;transform: translate(-50%, -50%)
}

div#google{
  position: relative;
  margin-left: 8%;
  margin-top: 2%;
  width: 360px;
  height: 50px;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #d4d9e1;
}

div#google span{
  position:absolute;top:50%;left:50%;transform: translate(-50%, -50%)
}

div#text1{
  float: right;
  margin-right: 18%;
}

div#noaccount{
  position: relative;
  padding-left: 8%;
  padding-top: 10%;
  font-family: :"Noto Sans KR";
  font-size: 14px;
  color: #7c8390;
}

div#noaccount span{
  position: relative;
  padding-left: 1%;
  font-size: 14px;
  font-family: "Noto Sans KR";
  color: #699eff;
}
